name: Node.js tests

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '**'

env:
  BEE_API_URL: 'http://localhost:1633'
  BEE_PEER_API_URL: 'http://localhost:11633'
  BEE_DEBUG_API_URL: 'http://localhost:1635'
  BEE_PEER_DEBUG_API_URL: 'http://localhost:11635'

jobs:
  node-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Auth to Github Package Docker Registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login https://docker.pkg.github.com -u ${GITHUB_ACTOR} --password-stdin

      ## Try getting the node modules from cache, if failed npm ci
      - uses: actions/cache@v2
        id: cache-npm
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ matrix.node }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-${{ matrix.node }}-${{ env.cache-name }}-
            ${{ runner.OS }}-node-${{ matrix.node }}-
      - name: Install npm deps
        if: steps.cache-npm.outputs.cache-hit != 'true'
        run: npm ci

      # Start Bee Factory environment
      - name: Start Bee Factory environment
        if: matrix.node-version != '18.x' && matrix.node-version != '19.x'
        run: npm run bee -- --verbose --detach

      # Start Bee Factory environment for Node 18 and 19
      - name: Start Bee Factory environment for Node 18 and 19
        if: matrix.node-version == '18.x' || matrix.node-version == '19.x'
        env:
          NODE_OPTIONS: '--no-experimental-fetch'
        run: npm run bee -- --verbose --detach

      - name: Run node tests
        run: npm run test
